<!DOCTYPE html>  
<!-- file: views/auth/login.html -->  
<html>  
<head>
{{> header}}  
</head>
<body>
  {{> navbar}}
  <div class="container">
<div class="login-container">
    <form action="/login" method="POST">
    <h3>LOGIN</h3>
    {{#error}}
      <p>User or password invalid. Try Again.</p>
    {{/error}}

    <div class="row">    
      <label for="email">Email</label>
      <input class="u-full-width" type="email" name="email">    
        <label for="password">Password</label>
        <input class="u-full-width" type="password" name="password">      
        <input class="button-login" type="submit" value="Login">
        <a class="button" href="/register">Registration</a>
    </div>
    <div>
      <div class="three columns">
        
      </div>

    </div>
    </form>
  </div>
  </div>
</body>