<!DOCTYPE html>
<!-- file: views/books/index.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

{{> header}}  
</head>
<body>

 <div class="main">
  {{> navbar}}  
  <div class="row">
   <div class="eleven column">
     <h2>{{title}}</h2>
     <br>
     <table><thead>
      <tr><th>title</th><th>copyright</th>
          <th>edition</th><th>pages</th>
          <th>language</th><th>author</th>
          <th>publisher</th>
          <th>Actions</th>
        </tr>
      </thead><tbody>
      {{#books}}
      <tr><td><a href="books/{{id}}">{{titleName}}</a></td>
      <td>{{copyright}}</td>
      <td>{{edition}}</td>
      <td>{{pages}}</td>      
      <td>{{language}}</td>
      <td>{{author}}</td>
      <td>{{publisher}}</td>
      <td>
        <a class="button-actions" href="books/{{id}}">Show</a>
        {{#login}}
        <a class="button-actions" href="books/{{id}}/edit">Edit</a>
        <a class="button-actions" href="books/{{id}}/delete">Erase</a>
        {{/login}}
      </td>
    </tr>
      {{/books}}</tbody>
     </table>
     {{#login}}
     <a class="button button-primary" href="/books/create">New</a>
     {{/login}}
    </div>
   </div>
 </div>
 
</body>
</html>