<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/51WWOcqo1CL._SX394_BO1,204,203,200_.jpg" alt="Avatar" style="width:100%">
            <div class="container">
            <h3><b>Computer Networks</b></h3>
            <p>Andrew S. Tanenbaum</p>
            <p>John Wiley & Sons</p>
            <p>ENGLISH | 5th | 2010 | 960</p>
            
            </div>
        </div> 
    </div>
</body>
</html>