<!DOCTYPE html>
<!-- file: views/professor/show.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
 <div class="container">
  <div class="row">
   <div class="eleven column">
    <h2>{{title}}</h2>
     {{#book}}
     {{#show}}<form>{{/show}}
     {{#create}}<form action="/books" method="POST">{{/create}}
     {{#edit}}<form action="/books/{{id}}" method="POST">
        <input type="hidden" name="_method" value="PUT"/>{{/edit}}
     <div class="row">
      <div class="six columns">
       <label for="nameInput">Title</label>
       <input class="u-full-width" type="text" 
         {{#show}} readonly {{/show}}
          name="titleName" value="{{titleName}}"/>
      </div>
      <div class="six columns">
       <label for="degreeInput">Edition</label>
       <input class="u-full-width" type="text"
          {{#show}} readonly {{/show}}
          name="edition" value="{{edition}}"/>
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="copyright">copyright</label>
       <input class="u-full-width" type="text"
          {{#show}} readonly {{/show}}
          name="copyright" value="{{copyright}}"/>
      </div>
      <div class="six columns">
       <label for="language">language</label>
       <input class="u-full-width" type="text"
         {{#show}} readonly {{/show}}
         name="language" value="{{language}}"/>
      </div>
      <div class="six columns">
        <label for="phoneInput">pages</label>
        <input class="u-full-width" type="text"
          {{#show}} readonly {{/show}}
          name="pages" value="{{pages}}"/>
       </div>
       <div class="six columns">
        <label for="publisher">publisher</label>
        <input class="u-full-width" type="text"
          {{#show}} readonly {{/show}}
          name="publisher" value="{{publisher}}"/>
       </div>
       <div class="six columns">
        <label for="phoneInput">author</label>
        <input class="u-full-width" type="text"
          {{#show}} readonly {{/show}}
          name="author" value="{{author}}"/>
       </div>
      <a class="button button-primary" href="/books">Back</a>
     {{#edit}}<input style="float: right" class="button-primary" type="submit" value="Update"/>{{/edit}}
     {{#create}}<input style="float: right" class="button-primary" type="submit" value="Create"/>{{/create}}
     {{/book}}
    </form>
   </div>
  </div>
 </div>
</body>
</html>