<!DOCTYPE html>
<!-- file: views/books/index.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../views/css/styles.css">
</head>
<body>

 <div class="main">
  <nav>
    <ul>
      <li><a href="/books">Books</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/publishers">publishers</a></li>      
    </ul> 
   </nav>
  <div class="row">
   <div class="eleven column">
     <h2>{{title}}</h2>
     <br>
     <table><thead>
      <tr><th>name</th><th>nationality</th>
          <th>birth</th><th>fields</th>        
          <th>Actions</th>
        </tr>
      </thead><tbody>
      {{#author}}
      <tr><td><a href="author/{{id}}">{{name}}</a></td>
      <td>{{nationality}}</td>
      <td>{{birth}}</td>      
      <td>{{fields}}</td>     
      <td>
        <a class="button-actions" href="author/{{id}}">Show</a>
        <a class="button-actions" href="author/{{id}}/edit">Edit</a>
        <a class="button-actions" href="author/{{id}}/delete">Erase</a>
        </td>
    </tr>
      {{/author}}</tbody>
     </table>
     <a class="button button-primary" href="/author/create">New</a>
    </div>
   </div>
 </div>
 
</body>
</html>