<!DOCTYPE html>
<!-- file: views/author/index.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
{{> header}}  
</head>
<body>
  {{> navbar}}
 <div class="main">

  <div class="row">
   <div class="eleven column">
     <h2>{{title}}</h2>
     <br>
     <table><thead>
      <tr><th>name</th><th>nationality</th>
          <th>birth</th><th>fields</th>        
          <th>Actions</th>
        </tr>
      </thead><tbody>
      {{#author}}
      <tr><td><a href="author/{{id}}">{{name}}</a></td>
      <td>{{nationality}}</td>
      <td>{{birth}}</td>      
      <td>{{fields}}</td>     
      <td>
        <a class="button-actions" href="authors/{{id}}">Show</a>
        {{#login}}
        <a class="button-actions" href="authors/{{id}}/edit">Edit</a>
        <a class="button-actions" href="authors/{{id}}/delete">Erase</a>
        {{/login}}
        </td>
    </tr>
      {{/author}}</tbody>
     </table>
     {{#login}}
     <a class="button button-primary" href="/authors/create">New</a>
     {{/login}}
    </div>
   </div>
 </div>
 
</body>
</html>