<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="card">
            <img src="https://www.db-book.com/db6/images/db6-cover-small.jpg" alt="Avatar" style="width:100%">
            <div class="container">
            <h3><b>Database System Concepts</b></h3>
            <p>Abraham Silberschatz</p>
            <p>John Wiley & Sons</p>
            <p>ENGLISH | 6th | 2010 | 1376</p>            
        </div>
    </div> 
    
</body>
</html>