<div class="row">
    <div class="eleven column">
     <h2>{{title}}</h2>
      {{#publishers}}
      <form>
        <div class="six columns">
          <label for="name">Name</label>
          <input class="u-full-width" type="text" 
            {{#show}} readonly {{/show}}
             name="name" value="{{name}}"/>
         </div>
         <div class="six columns">
          <label for="country">Country</label>
          <input class="u-full-width" type="text"
             {{#show}} readonly {{/show}}
             name="country" value="{{country}}"/>
         </div>
       
         <div class="six columns">
          <label for="founded">Founded</label>
          <input class="u-full-width" type="text"
             {{#show}} readonly {{/show}}
             name="founded" value="{{founded}}"/>
         </div>
         <div class="six columns">
          <label for="genere">Genere</label>
          <input class="u-full-width" type="text"
            {{#show}} readonly {{/show}}
            name="genere" value="{{genere}}"/>
         </div>
       <a class="button button-primary" href="/publisher"
         data-navigo>Back</a>
      {{#edit}}
        <a class="button button-primary" style="float: right" 
          data-navigo href="/publisher/update/{{id}}">Update</a>
      {{/edit}}
      {{#create}}
       <input type="hidden" name="_method" value="PUT">
        <a class="button button-primary" style="float: right" 
          data-navigo href="/publisher/store">Create</a>
      {{/create}}
      {{/publishers}}
     </form>
    </div>
   </div>