<!DOCTYPE html>
<!-- file: views/professor/index.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

{{> header}}  
</head>
<body>
 <div class="main">
  {{> navbar}}
  <div class="row">
   <div class="eleven column">
     <h2>{{title}}</h2>
     <br>
     <table><thead>
      <tr><th>name</th><th>country</th>
          <th>founded</th><th>genere</th>
          <th>actions</th>
        </tr>
      </thead><tbody>
      {{#publishers}}
      <tr><td><a href="publishers/{{id}}">{{name}}</a></td>
      <td>{{country}}</td>
      <td>{{founded}}</td>
      <td>{{genere}}</td>
      <td>
        <a class="button-actions" href="publishers/{{id}}">Show</a>
        {{#login}}
        <a class="button-actions" href="publishers/{{id}}/edit">Edit</a>
        <a class="button-actions" href="publishers/{{id}}/delete">Erase</a>
        {{/login}}
      </td>
    </tr>
      {{/publishers}}</tbody>
     </table>
     {{#login}}
     <a class="button button-primary" href="/publishers/create">New</a>
     {{/login}}
    </div>
   </div>
 </div>
</body>
</html>