<!DOCTYPE html>
<!-- file: views/professor/show.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../views/css/styles.css">
{{> header}}  
{{#edit}}
   <link rel="stylesheet" href="../../views/css/styles.css">
{{/edit}}
</head>
<body>
   {{> navbar}}
 <div class="container">
  <div class="row">
   
    <h2>{{title}}</h2>
     {{#publishers}}
     {{#show}}<form>{{/show}}
     {{#create}}<form action="/publishers" method="POST">{{/create}}
     {{#edit}}
     <form action="/publishers/{{id}}" method="POST">
        <input type="hidden" name="_method" value="PUT"/>{{/edit}}
     <div class="row">
         
      <div class="six columns">
       <label for="name">Name</label>
       <input class="u-full-width" type="text" 
         {{#show}} readonly {{/show}}
          name="name" value="{{name}}"/>
      </div>
      <div class="six columns">
       <label for="country">Country</label>
       <input class="u-full-width" type="text"
          {{#show}} readonly {{/show}}
          name="country" value="{{country}}"/>
      </div>
    
      <div class="six columns">
       <label for="founded">Founded</label>
       <input class="u-full-width" type="text"
          {{#show}} readonly {{/show}}
          name="founded" value="{{founded}}"/>
      </div>
      <div class="six columns">
       <label for="genere">Genere</label>
       <input class="u-full-width" type="text"
         {{#show}} readonly {{/show}}
         name="genere" value="{{genere}}"/>
      </div>
     
      <a class="button button-primary" href="/publishers">Back</a>
     {{#edit}}<input style="float: right" class="button" type="submit" value="Update"/>{{/edit}}
     {{#create}}<input style="float: right" class="button" type="submit" value="Create"/>{{/create}}
   </form>   
     {{/publishers}}
   
   
  </div>
  </div>
 </div>
</body>
</html>